.img-brand{
    max-height: 70px;
}

.bottom-header{
    .menu-item-type-custom{
        position: relative;
        
        &.animate-border-top{
            &:before{
                content: '';
                position: absolute;
                top: 0;
                left: 50%;
                width: 0%;
                height: 2px;
                background-color: black;
                transition: all .3s;
            }
    
            &:hover::before{
                left: 0;
                width: 100%;
            }
        }
    }
}

.sticky-header{
    position: fixed;
    top: -100%;
    transition: all .3s;
    z-index: 2;
    width: 100%;
    -webkit-box-shadow: 0px 5px 4px -1px rgba(0,0,0,0.13);
    -moz-box-shadow: 0px 5px 4px -1px rgba(0,0,0,0.13);
    box-shadow: 0px 5px 4px -1px rgba(0,0,0,0.13);

    .img-brand{
        max-height: 50px !important;
    }
}

.fixed-header{
    top: 0;
    width: 100%;
}

.absolute-header{
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 2;
}

.top-header{
    padding: .3rem;
    a{
        font-size: .8em; 
    }
    
}

.menu-lateral{
    position: fixed;
    height: 100%;
    width: 30%;
    background-color: white;
    right: 0;
    top: 0;
    z-index: 3;
    padding: 2em;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.53);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.53);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.53);
    transition: all .3s;

    .nav-menu-lateral{
        .nav-link{
            margin-left: 0;
            padding-left: 0px !important;
            font-size: 2em;
        }
    }

    .menu-lateral-social-shapes{
        position: absolute;
        width: 100%;
        bottom: 0em;
        left: 0em;
        padding: 2em;

        .separator{
            width: 100%;
            border: 1px solid #ccc;
            margin-bottom: 2em;
        }
    }
}

.hidden-menu{
    transform: translateX(100%);
}

.menu-item-has-children{
    position: relative;

    .fa-sort-down{
        transform: translateY(-2px);
        margin-left: .3em;
    }

    .sub-menu{
        position: absolute;
        left: 0;
        top: 2.5em;
        list-style: none;
        background-color: #f8f8f8;
        z-index: 3;
        padding: 0;
        width: 230px;
        text-align: left;
        display: none;
        -webkit-box-shadow: 0px 5px 4px -1px rgba(0,0,0,0.13);
        -moz-box-shadow: 0px 5px 4px -1px rgba(0,0,0,0.13);
        box-shadow: 0px 5px 4px -1px rgba(0,0,0,0.13);

        .menu-item{
            padding: .5em;
            border-bottom: 1px solid #ccc;

            &:last-child{
                border-bottom: none;
            }
        }

        .nav-link{
            text-transform: capitalize;
            font-size: .9em;
            font-weight: normal;
        }
        
    }
}