.button-icon {
  background-color: transparent !important;
  color: #006e98 !important;
  border: none !important;
}
.button-icon:hover {
  border: 1px solid #006e98 !important;
}

.button-master {
  margin: 0 !important;
  padding: 0.8em 3em !important;
}

.button-master.button-rounded {
  border-radius: 2.5em !important;
}

.text-blue {
  color: #009BD7;
  font-size: 1.2em;
}
.text-blue a {
  color: #ffffff;
  text-decoration: underline;
  transition: all 0.4s;
}
.text-blue a:hover {
  color: #009bd7;
}

.button-center {
  display: flex;
  justify-content: center;
}

.text-black {
  color: #000000 !important;
  font-weight: 700 !important;
}
.text-black .fundador {
  color: #004D95;
  margin-top: 2em;
  font-size: 1.2em;
}

.top-header {
  overflow: hidden;
}
.top-header p {
  margin: 0;
  font-weight: 700;
}
.top-header .popover-button {
  display: flex;
  align-items: center;
  position: relative;
  padding: 0 2em !important;
  font-size: 1.1em;
}
.top-header .popover-button a {
  font-weight: 600;
  color: #006e98;
  transition: all 0.4s;
}
.top-header .popover-button a:hover {
  color: #076082;
}
.top-header .popover-button::before {
  content: "";
  position: absolute;
  width: 1px;
  height: 60px;
  background-color: #E3E3E3;
  right: 0;
}
.top-header .link-facebook {
  margin-left: 2em;
}
.top-header i {
  font-size: 1.2em;
}

.container-menu {
  display: flex;
  justify-content: center;
}
.container-menu .bottom-header {
  padding: 0 !important;
  width: 90%;
  margin-top: 2em;
  border-radius: 5px;
  background-color: rgba(0, 110, 152, 0.5);
}
.container-menu .img-menu {
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  padding: 1em 0;
  border-radius: 5px 0 0 5px;
}
.container-menu .img-menu .img-brand {
  max-height: 55px;
}
.container-menu .menu-menu-principal-container .nav-link {
  color: rgba(255, 255, 255, 0.5);
  padding: 0 1.2em;
}

#agendar-cita .button-content {
  display: flex;
  justify-content: center;
  margin-top: 2.5em;
}
#agendar-cita .form-control {
  background: transparent;
  height: 70px;
  color: #fff;
}
#agendar-cita .form-control::placeholder {
  color: #fff;
}

.text-absolute {
  position: absolute !important;
  top: -10px;
}

.paso-a-paso .title-secondary {
  font-size: 1.4em;
  color: #009BD7;
}

.container-img img {
  width: 100%;
}

#contacto .form-control {
  border: none;
  height: 70px;
}
#contacto textarea {
  height: 200px !important;
  padding: 1em;
  line-height: 1.5em;
}

.top-footer {
  padding: 5em 0 !important;
}
.top-footer .widget-title {
  color: #ffffff !important;
  font-family: "Montserrat", Sans-serif !important;
  font-size: 1.5em !important;
}
.top-footer ul {
  list-style: none;
  padding: 0;
}
.top-footer ul li {
  margin-bottom: 1em;
}
.top-footer ul li a {
  color: #009BD7 !important;
  font-size: 1.2em;
  transition: all 0.4s;
}
.top-footer ul li a:hover {
  color: #1a5991 !important;
}
.top-footer ul li i {
  color: #ffffff;
}
.top-footer ul li .post-date {
  display: block;
  color: #c4c4c4;
}
.top-footer #nav_menu-2 .nav-link::before {
  content: "";
}

/*# sourceMappingURL=style.css.map */
